{{#data}}
  <h3 class="title">{{_longtitle}}</h3>
  <h4 class="short-title">{{_shorttitle}}</h4>
  <div class="info">
    <span class="where">{{_source}}</span>
    <span class="timer">{{_newsdate}}</span>
    <span class="type">{{_newsclass._classname}}</span>
  </div>
  <!-- 主体内容 -->
  <div class="text-con">
    {{{_content}}}
  </div>
{{/data}}