{{!-- 基本信息 --}}
<div class="title-info">
  <h3 class="t-title">基本信息</h3>
</div>
<div class="row basic-list">
  <div class="offset-lg-4 list_wrap">
    <div class="list">
      <span class="hd">类别：</span>
      <span class="desc">{{_propertyusage}}</span>
    </div>
    <div class="list">
      <span class="hd">绿化率：</span>
      <span class="desc">{{_buildingdensity}}</span>
    </div>
    <div class="list">
      <span class="hd">总户数：</span>
      <span class="desc">{{_room}}</span>
    </div>
    <div class="list">
      <span class="hd">面积：</span>
      <span class="desc">{{_square}}㎡</span>
    </div>
    <div class="list">
      <span class="hd">开发商：</span>
      <span class="desc">{{_devcompany}}</span>
    </div>
    <div class="list">
      <span class="hd">物业费：</span>
      <span class="desc">{{_mgtprice}}</span>
    </div>
    <div class="list">
      <span class="hd">楼栋总数：</span>
      <span class="desc">{{_buildingall}}</span>
    </div>
    <div class="list">
      <span class="hd">产权年限：</span>
      <span class="desc">{{_ownyear}}</span>
    </div>
    <div class="list">
      <span class="hd">容积率：</span>
      <span class="desc">{{_far}}%</span>
    </div>
    <div class="list">
      <span class="hd">预售许可证：</span>
      <span class="desc">{{_license}}</span>
    </div>
    <div class="list">
      <span class="hd">物业公司：</span>
      <span class="desc">{{_mgtcompany}}</span>
    </div>
    <div class="list list-full">
      <span class="hd">楼层状况：</span>
      <span class="desc">{{_floorall}}</span>
    </div>
    <div class="list list-full">
      <span class="hd">停车位：</span>
      <span class="desc">{{_parkingspace}}</span>
    </div>
  </div>
</div>
<!-- 项目简介 -->
<div class="row intro">
  <div class="col-lg-4 i-title">
    项目简介：
  </div>
  <div class="col-lg-8 i-content">
    <p class="text">{{_estateintro}}</p>
  </div>
</div>
<!-- 周边交通 -->
<div class="row intro">
  <div class="col-lg-4 i-title">
    周边交通：
  </div>
  <div class="col-lg-8 i-content">
    <p class="text">{{_environment}}</p>
  </div>
</div>
<!-- 位置及周边 -->
<div class="row intro">
  <div class="col-lg-4 i-title">
    位置及周边：
  </div>
  <div class="col-lg-8 i-content">
    <div class="map" id="mapContainer" style="width: 100%; height: 400px;"></div>
    <p class="text">{{_transportation}}</p>
  </div>
</div>