{{!-- 基本信息 --}}
<div class="title-info">
  <h3 class="t-title">基本信息</h3>
  <span class="t-title line-comment">房源评论</span>
</div>
<div class="row basic-list">
  <div class="offset-lg-4 list_wrap">
    <div class="list">
      <span class="hd">类别：</span>
      <span class="desc">{{_propertyusage}}</span>
    </div>
    <div class="list">
      <span class="hd">面积：</span>
      <span class="desc">{{_square}}㎡</span>
    </div>
    {{#if _propertyyear}}
    <div class="list">
      <span class="hd">产权年限：</span>
      <span class="desc">{{_propertyyear}}</span>
    </div>
    {{/if}}
    {{#if _propertynature}}
    <div class="list">
      <span class="hd">产权性质：</span>
      <span class="desc">{{_propertynature}}</span>
    </div>
    {{/if}}
    {{#if _completedyear}}
    <div class="list">
      <span class="hd">建筑年代：</span>
      <span class="desc">{{_completedyear}}</span>
    </div>
    {{/if}}
    <div class="list">
      <span class="hd">所在楼层：</span>
      <span class="desc">{{_floor}}</span>
    </div>
    <div class="list">
      <span class="hd">装修：</span>
      <span class="desc">{{_decoration}}</span>
    </div>
    <div class="list">
      <span class="hd">物业类别：</span>
      <span class="desc">{{_propertytype}}</span>
    </div>
    <div class="list">
      <span class="hd">看房方式：</span>
      <span class="desc">{{_propertylook}}</span>
    </div>
    {{#if _subwaystation}}
    <div class="list">
      <span class="hd">地铁站：</span>
      <span class="desc">{{_subwaystation}}</span>
    </div>
    {{/if}}
  </div>
</div>
<!-- 项目简介 -->
{{#if _sellingpoint}}
<div class="row intro">
  <div class="col-lg-4 i-title">
    核心卖点：
  </div>
  <div class="col-lg-8 i-content">
    <p class="text">{{_sellingpoint}}</p>
  </div>
</div>
{{/if}}
<!-- 周边交通 -->
{{#if _traffic}}
<div class="row intro">
  <div class="col-lg-4 i-title">
    周边交通：
  </div>
  <div class="col-lg-8 i-content">
    <p class="text">{{_traffic}}</p>
  </div>
</div>
{{/if}}
<!-- 位置及周边 -->
<div class="row intro">
  <div class="col-lg-4 i-title">
    位置及周边：
  </div>
  <div class="col-lg-8 i-content">
    {{#if _lat}}
    <div class="map" id="mapContainer" style="width: 100%; height: 400px;"></div>
    {{/if}}
    <p class="text">{{_address}}</p>
  </div>
</div>